.nav-bg {
    background-color: #FFE9F1;
    position: relative;
}

.branch-color {
    color: #fc47fc !important;
    margin: 0 2rem;
    font-weight: 500;
    font-size: 1.5rem !important;
}

.nav-container {
    position: absolute;
    right: 2rem;
}

.nav-box {
    width: 100%;
}

.nav-box a {
    color: #fc47fc; 
    margin: 0 0.5rem;
    padding: 1rem 1.6rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.active {
    background-color: #ffffff;
}

