.container {
    max-width: 400px;
    margin: auto;
}

.title_box {
    display: flex;
    flex-direction: row;
    text-align: left;
    position: relative;
}

.title_box > div {
    text-indent: 1rem;
}

.icons {
    margin-right: 1rem;
    position: absolute;
    left: -18%;
    font-size: 20px;
}

.description {
    text-align: left; 
}